

  <%= month_calendar events: bookings do |date, booking_list| %>
    <%= is_available?(date) %>
    <% booking_list.each do |booking| %>
      <% if booking.status == "approved" %>
          <p class="bg-warning rounded text-center mt-2">Déjà réservé</p>
      <% end %>
    <% end %>
  <% end %>
