<%# a simple card with image, title, description and price %>
  <div class="card mx-3 my-3 border-primary " style="width:300px" >
    <div class="card-header bg-primary text-white text-center", style="height: 200px; background-image: url(https://i-dja.unimedias.fr/sites/art-de-vivre/files/styles/large/public/dj115_chaton_jardin_annala.jpg?auto=compress%2Cformat&crop=faces%2Cedges&cs=srgb&fit=crop&h=599&w=900)"></div>
    <div class="card-body text-center">
      <h4 class="card-title text-primary"><%= artist.artist_name %></h4>
      <h4 class="card-title text-primary">Catégorie à modifier</h4>
      <p class="card-text text-secondary"><%= artist.hourly_price*24%>€/day</p>
      <p class="card-text text-secondary"><%= artist.location.department %></p>
      <%= link_to "En savoir plus sur l'artiste", artist_path(artist.id), class: "btn btn-primary mb-3" %>      
    </div>
  </div>