<div>
  <h3>Photos</h3>
  <div class="mt-3 py-3">
  <div id="artist-show-picture" class="row container-horizontal d-flex justify-content-center">
    <%if artist.pictures.attached?%>
      <% artist.pictures.each do |picture|%>      
        <div id="picture-<%=picture.id%>" class="img-thumbnail img-order my-2" >
          <%if picture.variable?%>
            <%= image_tag picture.variant(resize: "200x200"), alt: "picture"%>     
          <%end%>
        </div>
      <%end%>
    <%else%>
      <p>=== Il n'y a pas encore d'images ===</p>
    <%end%>
  </div>
</div>