<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Bonjour <%= @artist.artist_name %>,</h1>
  <p>Votre profil créé avec l'adresse <%= @artist.email %> a été approuvé et est désormais visible sur Get a Band. Indiquez vos disponibilités et commencez à recevoir des demandes de réservation !</p>
  <p>Merci de votre confiance et à bientôt sur <%= link_to "Get a Band", @url %> !</p>
</body>
</html>