<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Bonjour et bienvenue sur Get a Band !</h1>
  <p>Vous venez de vous inscrire sur Get a Band avec l'adresse mail suivante : <%= @artist.email %>.</p>
  <p>Votre profil est actuellement en attente. Connectez-vous dès que possible pour renseigner vos informations personnelles, indiquer vos disponibilités et commencer à recevoir des demandes de réservation !</p>
  <p>A bientôt sur Get a Band !</p>
</body>
</html>