<div class="container text-center pt-5 mt-5">
  <h1>Demande de réservation envoyée</h1>
  <p>Nous avons bien reçu votre demande de réservation pour un montant de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>
  <p>L'artiste a été notifié et vous répondra dans les plus brefs délais.</p>
  <p>En cas de refus de l'artiste, vous serez intégralement remboursé.e de votre avance.</p>
  <p>Vous pouvez suivre l'avancement de votre demande de réservation depuis votre espace personnel.</p>
  <%= link_to "Voir mon profil", current_user, class: "btn btn-block btn-primary" %>
  <%= link_to "Retour à l'accueil", root_path, class: "btn btn-block btn-secondary" %>
</div>