<div class = "container">
  <h3> Récapitulatif de la réservation </h3>
  <div class="row">
    <div class="col-md-8">
      <div class="card text-white border-primary text-center">
        <div class="card-header bg-primary">New Orleans</div>
        <img class="card-img-top" src="../pictures/jazz session.jpg" alt="Card image jazz">
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white border-primary text-center">
        <div class="card-header bg-primary">New Orleans</div>        
      </div>
    </div>
  </div>
</div>