<%= form_with(model: @artist, local: true,remote: true, multipart: true) do |form|  %>
  <%= form.file_field :stage_images, multiple: true %>
  <%= form.submit "Ajouter des images", class: "form-control btn btn-primary" %>
<%end%>

<div>
  <%if artist.stage_images.attached?%>
    <% artist.stage_images.each do |picture|%>      
      <%if picture.variable?%>
          <%= image_tag picture.variant(resize: "400x400"), alt: "image"%>       
      <%end%>
    <%end%>
  <%else%>
    <p>=== Il n'y a pas encore d'images ===</p>
  <%end%>
</div>
