<% if reviews.empty? %>
  <p class="text-center text-secondary py-4">Vous n'avez pas reçu d'évaluation encore .</p>
<% else %>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col" >Réservation</th>
      <th scope="col" >Nom Client</th>
      <th scope="col" >Note reçue</th>
      <th scope="col" >Avis reçu</th>
    </tr>
  </thead>
    <tbody>
      <% reviews.each do |review| %>
        <tr>
          <th scope="row"><%= review.booking.id %></th>
            <td  style="max-width: 20%"><%= review.user.first_name %></td>
            <td  style="max-width: 20%">
              <% show_star_rating(review.rating.to_i).each do |star| %>
              <i class="<%= star %>"></i> 
              <% end %>
            </td>
            <td class="w-50"><%= review.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>