<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Bonjour <%= @artist.artist_name %>,</h1>
  <p><%= @booking.user.first_name %> a annulé votre réservation prévue pour le <%= @booking.start_date.strftime("%d/%m/%Y") %>.</p>
  <p>Retrouvez vite de nouveaux clients à la recherche d'artistes pour leur mariage sur Get a Band !</p>
  <p>A bientôt sur <%= link_to "Get a Band", @url %> !</p>
</body>
</html>