<% flash.each do |type, message| %>
  <% if %w(danger warning alert).include?(type) %>
    <div class="alert alert-danger" role="alert">
  <% else %>
    <div class="alert alert-success" role="alert">
  <% end %>
    <%= message %>
  </div>
<% end %>
